<!-- filepath: /C:/Users/deves/OneDrive/Desktop/tet/New folder (6)/AttendenceSystem/ai-attendance-system/attendance/templates/attendance/register.html -->
{% extends 'attendance/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<h1>Register</h1>
<div class="tab">
    <button class="tablinks" onclick="location.href='{% url 'student_register' %}'">Student</button>
    <button class="tablinks" onclick="location.href='{% url 'teacher_register' %}'">Teacher</button>
</div>
{% endblock %}